<div>
    <button (click)="createNewTask()">CREATE NEW TASK</button>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <!-- <th>Profile Id</th> -->
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Start Time</th>
                <th>status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks; let i = index">
                <td>{{ task.id }}</td>
                <!-- <td>{{ task.profileId }}</td> -->
                <td>{{ task.taskName }}</td>
                <td>{{ task.taskDescription }}</td>
                <td>{{ task.startTime }}</td>
                <td>{{ task.status }}</td>
                <td>
                    <div>
                        <button (click)="editTask(task)">Edit</button>
                    </div>
                    <div>
                        <button (click)="deleteTask(task)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>